# .vscode/
.idea/

.DS_Store

node_modules/

# obsidian
obsidian/
.obsidian/

01journal/
# 02learning_notes/
07work/
08reading/*
# except reading_list
!08reading/literature_notes/
!08reading/_imgs/

# 09other/
# 09other/
10personal/
task_board/
pettolog/